<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Snacks!</title>
    <style>
      * {
      }
    </style>
  </head>
  <body>
    <header>
      <nav>
        <a href="/">Home</a>
        <a href="/main">Main course</a>
        <a href="/sides">Sides</a>
      </nav>
    </header>
    <main>
      <h1>Sanjar's specialities</h1>
      <h2>Fast Food</h2>
      <h2>Buger</h2>
      <h2>Pizza</h2>
      <h2>Lemonade</h2>
      <div id="home-page-picture">
        <img src="/images/ambience-1.jpg" height="400px" alt="glass-sign" /><img
          src="/images/ambience-2.jpg"
          height="400px"
          alt="busy-woman"
        /><img
          src="/images/ambience-3.jpg"
          alt="restaurant-art"
          height="400px"
        />
      </div>
    </main>
  </body>
</html>
