<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Main course</title>
  </head>
  <body>
    <header>
      <nav>
        <a href="/">Home</a>
        <a href="/main">Main course</a>
        <a href="/sides">Sides</a>
      </nav>
    </header>

    <main>
      <h1>Order main course</h1>
      <div class="flex-row-100">
        <div>
          <h2 style="color: orange">Burger</h2>
          <img src="/images/food-1-burger.jpg" width="640px" alt="burger" />
        </div>
        <div>
          <h2 style="color: red">Pizza</h2>
          <img src="/images/food-2-pizza.jpg" width="360px" alt="pizza" />
        </div>
      </div>

      <section>
        <form action="/"></form>
        <form action="/"></form>
      </section>
    </main>
  </body>
</html>
